[Desktop Entry]
Name=zathura
GenericName=Document viewer
Exec=zathura
Terminal=false
Type=Application
Categories=Viewer;
MimeType=application/pdf;
NoDisplay=true
