[submodule "third_party/aur/smenu"]
	path = third_party/aur/smenu
	url = https://aur.archlinux.org/smenu.git
[submodule "third_party/aur/tomb"]
	path = third_party/aur/tomb
	url = https://aur.archlinux.org/tomb.git
[submodule "third_party/aur/wdisplays-git"]
	path = third_party/aur/wdisplays-git
	url = https://aur.archlinux.org/wdisplays-git.git
[submodule "third_party/aur/gtypist"]
	path = third_party/aur/gtypist
	url = https://aur.archlinux.org/gtypist.git
[submodule "third_party/aur/protonmail-bridge-nogui"]
	path = third_party/aur/protonmail-bridge-nogui
	url = https://aur.archlinux.org/protonmail-bridge-nogui.git
[submodule "third_party/aur/qmk"]
	path = third_party/aur/qmk
	url = https://aur.archlinux.org/qmk.git
