[user]
	email = dan@dan-nixon.com
	name = Dan Nixon
[color]
	ui = true
[core]
  editor = vim
[alias]
  s = status
  p = push
  l = log --pretty=oneline -n 20 --graph --abbrev-commit
  la = log --pretty=oneline --graph --abbrev-commit
  d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
  co = commit
  up = pull
  update = pull
  tags = tag -l
  br = branch -a
