# vim: filetype=zsh

# The following lines were added by compinstall
zstyle ':completion:*' completer _expand _complete _ignored _approximate
zstyle ':completion:*' completions 1
zstyle ':completion:*' format %B%U%F{yellow}%d%f%u%b
zstyle ':completion:*' group-name ''
zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}
zstyle ':completion:*' list-prompt %S%F{yellow}At %p: Hit TAB for more%f%s
zstyle ':completion:*' matcher-list 'm:{[:lower:]}={[:upper:]}'
zstyle ':completion:*' menu select=1
zstyle ':completion:*' select-prompt %S%F{yellow}%p %l%f%s
zstyle ':completion:*' verbose true
zstyle :compinstall filename '/home/dan/.zshrc'

autoload -Uz compinit
compinit
# End of lines added by compinstall

# History
HISTFILE=~/.zsh_history
HISTSIZE=10000
SAVEHIST=10000

# Vi style key bindings
bindkey -v
KEYTIMEOUT=10

function zle-line-init zle-keymap-select {
  PROMPT_VI_MODE="${${KEYMAP/vicmd/N}/(main|viins)/I}"
  PROMPT_VI_COLOR="${${KEYMAP/vicmd/blue}/(main|viins)/green}"
  zle reset-prompt
}

zle -N zle-line-init
zle -N zle-keymap-select

# Use Vi style navigation in menu completion
zmodload zsh/complist
bindkey -M menuselect 'h' vi-backward-char
bindkey -M menuselect 'k' vi-up-line-or-history
bindkey -M menuselect 'l' vi-forward-char
bindkey -M menuselect 'j' vi-down-line-or-history

# Prompts
if (( ${+SSH_CONNECTION} )); then
  PROMPT_HOSTNAME_COLOR='magenta'
else
  PROMPT_HOSTNAME_COLOR='yellow'
fi

setopt PROMPT_SUBST
PROMPT='%B%F{cyan}%n%f%b at %B%F{$PROMPT_HOSTNAME_COLOR}%m%f%b in %B%F{blue}%~%f%b [%B%F{$PROMPT_VI_COLOR}$PROMPT_VI_MODE%f%b]%B>%b '
RPROMPT='%(?..%F{red}%?%f  )%F{green}%D{%H:%M:%S}%f'

# Terminal title
case "$TERM" in
  alacritty)
    precmd () { print -Pn "\e]2;$(pwd)\a" }
    ;;
esac

# Base16 shell
BASE16_SHELL="$HOME/.local/share/base16-shell/"
[ -n "$PS1" ] && \
    [ -s "$BASE16_SHELL/profile_helper.sh" ] && \
        eval "$("$BASE16_SHELL/profile_helper.sh")"

# File colors
if [ -f "$HOME/.dir_colors" ]; then
  eval $(dircolors "$HOME/.dir_colors")
fi

# Environment
export KEYTIMEOUT=1
export EDITOR='nvim'
export NNN_OPTS="d"

export GPG_TTY="$(tty)"
{! if zsh_ssh_auth_sock !}
if command -v gpgconf > /dev/null; then
  export SSH_AUTH_SOCK="$(gpgconf --list-dirs agent-ssh-socket)"
fi
{! endif !}

export FZF_DEFAULT_OPTS="--no-mouse --cycle --bind tab:up,btab:down"

if [ -d "$HOME/go/bin/" ]; then
  path+=("$HOME/go/bin/")
fi
if [ -d "$HOME/.cargo/bin/" ]; then
  path+=("$HOME/.cargo/bin/")
fi
if [ -d "$HOME/.local/bin/" ]; then
  path+=("$HOME/.local/bin/")
fi
export PATH

# Aliases
alias ..="cd .."

alias l="ls --color=auto -lFh"
alias ll="ls --color=auto -lFa"
alias lt="tree"
alias ltt="tree -ashpug"

alias df="df -h"
alias du="du -h"

alias lb="lsblk"

alias q="exit"
alias c="clear"

alias g="git"
alias gs="git s"

alias f="nnn"
alias p="pass fzf"
alias tm="tmux"
alias tok="tomb open -k -"
alias v="$EDITOR"
alias m="ncmpcpp"
alias k="kubectl"
alias kk="k9s"
alias t="task"
alias tt="taskwarrior-tui"
alias mx="pulsemixer"

alias stripexif="exiftool -all="
alias today="date '+%Y-%m-%d'"
alias zfs-ls="zfs list -o name,referenced,used,available,encryption,keystatus,mounted,mountpoint"

# direnv
if command -v direnv > /dev/null; then
  eval "$(direnv hook zsh)"
fi

# fzf
if [ -d "/usr/share/fzf/" ]; then
  source "/usr/share/fzf/key-bindings.zsh"
  source "/usr/share/fzf/completion.zsh"
fi
