* {
  border: none;
  border-radius: 0;
  font-family: "DejaVuSansMono Nerd Font";
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: white;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: white;
  border-top: 2px solid transparent;
}

#workspaces button.focused {
  border-top: 2px solid white;
}

#workspaces button.urgent {
  color: #ffaaaa;
  border-top: 2px solid #ffaaaa;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#backlight, #battery, #clock, #mode, #pulseaudio {
  padding: 0 10px;
  margin: 0 2px;
}

#tray {
  padding-right: 20px;
}

#battery.warning:not(.charging) {
  color: yellow;
}

#battery.critical:not(.charging) {
  color: red;
}
