# vim: filetype=yaml

live_config_reload: true

env:
  TERM: alacritty

window:
  padding:
    x: 2
    y: 2

  decorations: full
  dynamic_title: true

font:
  normal:
    family: "DejaVuSansMono Nerd Font"
    style: Book

  bold:
    family: "DejaVuSansMono Nerd Font"
    style: Bold

  italic:
    family: "DejaVuSansMono Nerd Font"
    style: Italic

  size: {{ desktop_environment_terminal_font_size }}

mouse:
  double_click:
    threshold: 300
  triple_click:
    threshold: 300

  faux_scrolling_lines: 1

  hide_when_typing: true

selection:
  semantic_escape_chars: ",│`|:\"' ()[]{}<>"

cursor:
  style: block
  unfocused_hollow: true

hints:
  alphabet: "jfkdls;ahgurieowpq"

  enabled:
   - regex: "(ipfs:|ipns:|magnet:|mailto:|gemini:|gopher:|https:|http:|news:|file:|git:|ssh:|ftp:)\
             [^\u0000-\u001F\u007F-\u009F<>\"\\s{-}\\^⟨⟩`]+"
     hyperlinks: true
     action: Copy
     post_processing: true
     mouse:
       enabled: true
     binding:
       key: Y
       mods: Control|Shift

key_bindings:
  - key: V
    mods: Control|Shift
    action: Paste
  - key: C
    mods: Control|Shift
    action: Copy

  - key: H
    mods: Control|Shift
    action: ResetFontSize
  - key: K
    mods: Control|Shift
    action: IncreaseFontSize
  - key: J
    mods: Control|Shift
    action: DecreaseFontSize
