# vim: filetype=conf

### Base16 Atelier Savanna
# Author: Bram de Haan (http://atelierbramdehaan.nl)
set $base00 #171c19
set $base01 #232a25
set $base02 #526057
set $base03 #5f6d64
set $base04 #78877d
set $base05 #87928a
set $base06 #dfe7e2
set $base07 #ecf4ee
set $base08 #b16139
set $base09 #9f713c
set $base0A #a07e3b
set $base0B #489963
set $base0C #1c9aa0
set $base0D #478c90
set $base0E #55859b
set $base0F #867469

# Basic color configuration using the Base16 variables for windows and borders.
# Property Name         Border  BG      Text    Indicator Child Border
client.focused          $base05 $base0D $base00 $base0D $base0D
client.focused_inactive $base01 $base01 $base05 $base03 $base01
client.unfocused        $base01 $base00 $base05 $base01 $base01
client.urgent           $base08 $base08 $base00 $base08 $base08
client.placeholder      $base00 $base00 $base05 $base00 $base00
client.background       $base07

# Default keyboard options
input type:keyboard {
  xkb_layout gb
  xkb_options altwin:swap_lalt_lwin,caps:none
}

# Do not use special kep mappings for my custom keyboard
input "4617:10533:DanNixon_Aya" {
  xkb_layout gb
  xkb_options none
}

input "1149:4130:Kensington_USB_Orbit" {
  accel_profile adaptive
  pointer_accel 1
}

set $bar_bg "$base01"88
bar {
  font pango:DejaVuSansMono Nerd Font 14
  position {{ desktop_environment_bar_position }}
  colors {
    separator  $base07
    background $bar_bg
    statusline $base07
    #                  Border  Background  Text
    focused_workspace  $base07 "$base03"88 $base07
    active_workspace   $base07 $bar_bg     $base07
    inactive_workspace $bar_bg $bar_bg     $base06
    urgent_workspace   $base08 "$base08"88 $base07
  }
  status_command i3status-rs
}

# Mod1 = Alt
# Mod4 = Super
set $mod Mod4

# Magic numbers
set $d_px 100
set $d_ppt 10

# Font for window titles (some popup/floating windows still show titles)
font pango:DejaVuSansMono Nerd Font Bold 10

# No title bars
default_border pixel 2

# Window gaps
gaps outer -2
gaps inner 10

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod normal

# Kill focused window
bindsym $mod+shift+q kill

# Change focus
focus_wrapping no
focus_follows_mouse no
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

# Move focused window
bindsym $mod+shift+h move left  $d_px
bindsym $mod+shift+j move down  $d_px
bindsym $mod+shift+k move up    $d_px
bindsym $mod+shift+l move right $d_px

# Set split orientation
bindsym $mod+u split vertical
bindsym $mod+i split horizontal
bindsym $mod+o layout toggle splitv splith stacking tabbed

# Toggle fullscreen mode for the focused container
bindsym $mod+comma fullscreen

# Switch to workspace
bindsym $mod+a workspace number 1
bindsym $mod+s workspace number 2
bindsym $mod+d workspace number 3
bindsym $mod+f workspace number 4
bindsym $mod+g workspace number 5
bindsym $mod+z workspace number 6
bindsym $mod+x workspace number 7
bindsym $mod+c workspace number 8
bindsym $mod+v workspace number 9
bindsym $mod+b workspace number 10

# Move focused container to workspace
bindsym $mod+shift+a move workspace number 1
bindsym $mod+shift+s move workspace number 2
bindsym $mod+shift+d move workspace number 3
bindsym $mod+shift+f move workspace number 4
bindsym $mod+shift+g move workspace number 5
bindsym $mod+shift+z move workspace number 6
bindsym $mod+shift+x move workspace number 7
bindsym $mod+shift+c move workspace number 8
bindsym $mod+shift+v move workspace number 9
bindsym $mod+shift+b move workspace number 10

# Exit Sway
bindsym $mod+shift+n exit

# Window resize
bindsym $mod+r mode resize
mode resize {
  bindsym h           resize shrink left  $d_px px or $d_ppt ppt
  bindsym shift+h     resize grow   left  $d_px px or $d_ppt ppt

  bindsym j           resize shrink down  $d_px px or $d_ppt ppt
  bindsym shift+j     resize grow   down  $d_px px or $d_ppt ppt

  bindsym k           resize shrink up    $d_px px or $d_ppt ppt
  bindsym shift+k     resize grow   up    $d_px px or $d_ppt ppt

  bindsym l           resize shrink right $d_px px or $d_ppt ppt
  bindsym shift+l     resize grow   right $d_px px or $d_ppt ppt

  bindsym escape      mode default
}

# Quick system settings
bindsym $mod+e mode "sink volume"
mode "sink volume" {
  bindsym k exec --no-startup-id pulseaudio-control sink volume +5%
  bindsym j exec --no-startup-id pulseaudio-control sink volume -5%
  bindsym h exec --no-startup-id pulseaudio-control sink mute toggle

  bindsym escape mode default
  bindsym $mod+e mode "source volume"
}
mode "source volume" {
  bindsym k exec --no-startup-id pulseaudio-control source volume +5%
  bindsym j exec --no-startup-id pulseaudio-control source volume -5%
  bindsym h exec --no-startup-id pulseaudio-control source mute toggle

  bindsym escape mode default
  bindsym $mod+e mode "laptop brightness"
}
mode "laptop brightness" {
  bindsym k exec --no-startup-id light -A 5
  bindsym j exec --no-startup-id light -U 5

  bindsym escape mode default
  bindsym $mod+e mode "monitor brightness"
}
mode "monitor brightness" {
  bindsym k exec --no-startup-id ddcutil-modify-vcp 10 adjust +10
  bindsym j exec --no-startup-id ddcutil-modify-vcp 10 adjust -10

  bindsym a exec --no-startup-id ddcutil-modify-vcp 10 set 20
  bindsym s exec --no-startup-id ddcutil-modify-vcp 10 set 40
  bindsym d exec --no-startup-id ddcutil-modify-vcp 10 set 60
  bindsym f exec --no-startup-id ddcutil-modify-vcp 10 set 80
  bindsym g exec --no-startup-id ddcutil-modify-vcp 10 set 100

  bindsym escape mode default
  bindsym $mod+e mode "monitor contrast"
}
mode "monitor contrast" {
  bindsym k exec --no-startup-id ddcutil-modify-vcp 12 adjust +10
  bindsym j exec --no-startup-id ddcutil-modify-vcp 12 adjust -10

  bindsym escape mode default
  bindsym $mod+e mode default
}

# Screenshot shortcut
bindsym $mod+p exec de-screenshot

# Application shortcuts
bindsym $mod+Semicolon  exec alacritty --class=FloatingAlacritty -e fzf-launch sway
bindsym $mod+Space      exec alacritty

# Audio controls
bindsym XF86AudioRaiseVolume  exec --no-startup-id pulseaudio-control sink volume +5%
bindsym XF86AudioLowerVolume  exec --no-startup-id pulseaudio-control sink volume -5%
bindsym XF86AudioMute         exec --no-startup-id pulseaudio-control sink mute toggle

# Backlight brighness controls
bindsym XF86MonBrightnessUp   exec --no-startup-id light -A 5
bindsym XF86MonBrightnessDown exec --no-startup-id light -U 5

# Media controls
bindsym XF86AudioPause  exec --no-startup-id media-control pause
bindsym XF86AudioPrev   exec --no-startup-id media-control prev
bindsym XF86AudioNext   exec --no-startup-id media-control next
bindsym XF86AudioStop   exec --no-startup-id media-control stop

xwayland force

# Window specific config
for_window [app_id="Alacritty"] opacity 0.92
for_window [app_id="FloatingAlacritty"] floating enable
for_window [instance="qjackctl" title="JACK Audio Connection Kit*"] floating enable
for_window [app_id="firefox" title="Firefox — Sharing Indicator"] floating enable

# Displays
{% for d in desktop_environment_displays %}
output {{ d['name'] }} {
  {{ 'enable' if d['enabled'] else 'disable' }}
{% if 'options' in d %}
{% for k, v in d['options'].items() %}
  {{ k }} {{ v }}
{% endfor %}
{% endif %}
}

{% endfor %}

exec dbus-update-activation-environment --systemd DISPLAY WAYLAND_DISPLAY
